html {
    background-color: bisque;
    font-family: "plus jakarta sans", -apple-system, "blink mac system font", "Segoe UI", Roboto, Oxygen, Cantarell, "Helvetica Neue", Ubuntu, sans-serif;
}

h1.index{
    text-align: center;
    font-weight: 600;
    font-size: 69px;
    line-height: 65px;
    letter-spacing: -.02em;
}

li h2 {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -.02em;
}

#plate-with-list {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plate-with-list img {
    position: relative;
    bottom: 3em;
}

#plate-with-list ol {
    position: relative;
    left: 9em;
    bottom: 25em;
    font-size: 1.3em;
}

ol.index li{
    list-style: none;
    width: 400px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.7em;
    background-image: url(./images/tray_icon.png);
}

