li{
    list-style: none;
    width: 200px;
    padding-left: 35px;
    border: 10px ridge pink;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px;
    background-image: url(./images/food.png);
}
