li{
    list-style: none;
    width: 400px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    background-image: url(./images/food.png);
}

body.index {
    font-family: Tahoma, Verdana, sans-serif;
}

